<nav class="navbar navbar-expand-lg navbar-dark bg-primary" height="64px">
  <div class="container-fluid" height="auto">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}"> <img src="/res/images/THOR2.png" height="64px" /> {{ site.title | escape }}</a>
    </div>
    <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
    </div>
  </div>
</nav>
